# Building Databases with SQL in Python
We will begin with a csv file, recall this is a collection of data with each value separated by commas. The data can be many rows long and each row is a **record**. Each column in the data represents a **field** in a database. The underlying structure for a database is present in the csv or xlsx file.

## Importing the Libraries

In [1]:
pip install sqlite-database

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite-database (from versions: none)
ERROR: No matching distribution found for sqlite-database

In [2]:
# Import the libraries
import sqlite3
import csv
import numpy as np
import pandas as pd

C:\Users\kouak\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\kouak\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

## Establishing a Connection

In [4]:
# Create a connection
# Syntax: conn = sqlite3.connect('databaseName.sqlite')
conn = sqlite3.connect('energyindicators.sqlite')

# Create a cursor object to navigate
cur = conn.cursor()

## Creating Tables

In [ ]:
# Create a cursor to interact with the database.
cur.execute('''DROP TABLE student''')

In [5]:
# Create a new table named students
# Table fields will be name, graduation year, and school
cur.execute('''
CREATE TABLE student(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    graduated INTEGER,
    school TEXT
   )
   ''')

## Inserting Data Into Tables

In [6]:
# Let's insert a record into the table
cur.execute('''
INSERT INTO student (name, graduated, school) VALUES ('Shirley Chisholm', 1951, 'Columbia University')''')
conn.commit()

In [7]:
# Let's import more than one data into the table
# Start with a list for the data
data = [('Kimberle Crenshaw', 1989, 'Columbia University'),
        ('Barack Obama', 1983, 'Columbia University'),
        ('Mae Jemison', 1981, 'Cornell University School of Medicine'),
        ('Bessie Coleman','NULL' ,'Langston Industrial College'),
        ('Langston Hughes', 1929, 'Lincoln University'),
        ('Maya Angelou', 1944, 'Mission High School'),
        ('Zora Neale Hurston', 1928, 'Columbia University'),
        ('Claudette Colvin','NULL' , 'Booker T Washington High School'),
        ('Martin Luther King Jr', 1948, 'Morehouse College'),
        ('Audre Lorde', 1961, 'Columbia University'),
        ('Ruby Bridges','NULL' , 'Kansas City Business School'),
       ('LaKeta L Kemp', 2024, 'Howard University'),
       ('Kouakou Innocent N"DRI', 2024 , 'Howard University')]
# Now let's add the data as new records.
cur.executemany('''
INSERT INTO student (name, graduated, school) VALUES (?, ?, ?)''',data)
conn.commit()